body{
	margin: 0 auto;
}

.container-addcar, .container-changeImg{
	width: 1000px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}

.container-changeImg h1 {
    color: #61DBFB;

}

.container-changeImg input {
    margin-top: 20px;
}

.container-changeImg input:nth-child(3):hover {
    border: 4px solid #61DBFB;
}

.container-changeImg input:nth-child(3):focus {
    border: 4px solid #61DBFB;
    outline: none;
}

#addcar-fr {
    width:100%;
    height:auto;
    padding:10px;
}
.col-1 {
    width:25%;
    text-align: center;
}
.col-2 {
    width:25%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.col-3 {
    text-align: left;
}
.col-4 {
    width:25%;
    text-align: left;
    color: red;
}
input[type="text"] {
    width:300px;
    height:35px;
    font-size:15px;
}
input[type="submit"]{
    width:100px;
    height:30px;
    font-size:15px;
    
}

.notification {
    font-size: 25px;
}
.addcar {
    width:auto;
    height:40px;
    font-size:20px;
    background-color: rgb(70, 173, 70);
    color:white;
    padding:5px;
    border-radius: 5px;
    opacity: 0.5;
}

.addcar:hover{opacity: 1;}

input.changeImg-input {
    background: gray;
    color: white;
    border-style: outset;
    height: 50px;
    width: 100px;
    text-shadow: none;
}

input.changeImg-input:hover {
    color: white;
    background:#61DBFB;
    outline: none;
}