body{
	margin: 0 auto;
}

.container-user{
	width: 900px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}

.container-user h1 {
    font-style: italic;
	font-size:30px;
    color:#61DBFB;
    
}
.user-info-1,.user-info-2,.user-info-3 {
    width:100%;
    text-align: left;
    font-size:20px;
}

.user-info-1 .left {
    width:50%;
    font-weight: bold;
    font-size:18px;
    padding-left:300px;
}
.user-info-1 .right {
    width:50%;
}
.center {
    text-align: center;
}
input[type="password"]{
	height: 30px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 5px;
	background-color: #fff;
	padding-left: 40px;
}
.user-info-2 .left {
    width:30%;
    font-size:20px;
    padding-left:30px;
}
.user-info-2 .center {
    width:35%;
}
.user-info-2 .right {
    width:35%;
}
.error {
    color: red;
    font-size:15px;
}
.success {
    color:green;
    font-size:20px;
}

.user-info-3 {
    border-collapse:collapse;
}

.user-info-3 th,.user-info-3 td{
    border:2px solid black;
    text-align:center;
}

.seecar {
    color:black;
    font-style: normal;
}

input[type="submit"]{
    width:auto;
    height:40px;
    font-size:20px;
    background-color: rgb(70, 173, 70);
    color:white;
    padding:5px;
    border-radius: 5px;
    opacity: 0.5;
}

input[type="submit"]:hover{opacity: 1;}

.delbooking {
    width:100%;
    height:40px;
    font-size:15px;
    background-color: rgb(239, 121, 121);
    color:white;
    opacity: 0.5;
}

.delbooking:hover { opacity: 1;}