body {
    width: 100%;
    margin: auto;
}

div {
    display: block;
}

.filter-row {
    display: flex;
    flex-wrap: nowrap;
}

.filter {
    margin-left: 35px;
    font-size: 20px;
    text-align: center;
}

.btn-filter {
    width: 70px;
    height: 30px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color:#61DBFB;
    font-style: italic;
    font-family: 'Poppins',sans-serif;
}

.logout {
    color: white;
    font-style: italic;
    font-family: 'Poppins',sans-serif;
}

#container {
    border: 5px solid green;
    background-color: white;
    border: 10px solid white;
}

#top-title-left {
    font-size:50px;
    color:#61DBFB;
    animation :animate 4s infinite linear;
}
@keyframes animate {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;} 
}

#login {
    float: left;
    margin-top: 15px;
    margin-left: 750px;
    display: block;
}

#logout {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    display: block;
}
#usernameA {
    float: left;
    margin-top: 10px;
    margin-left: 600px;
    display: block;
    color: #FFD154;
}

#car-list {
    margin:10px;
}

.car-info{
    border: solid grey 2px;
    padding:10px;
    margin:5px;
    font-size: 20px;
    overflow:auto;
    line-height: 1.5;
}

#load_data { 
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    justify-content: center;
}

.car-info-card { 
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.car-info-card a {
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.carImg-card {
    width:300px;
    height:250px;
    margin: 0px auto 15px auto;
    background-size: cover;
    overflow:hidden;
    border-radius: 15px 15px 0 0;
}

.car-info-card:hover {
    background-color: #61DBFB;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    border: 3px solid black;
}

.car-info-card a:hover {
    background-color: white;
    color: #61DBFB;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}


.carImg {
    width:350px;
    height:250px;
    float:left;
    clear:left;
}

.function {
    width:auto;
    padding:25px;
}
